.contact-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
    
}

.contact-info{

    h4{
        font-weight: 700;
        margin-bottom: 20px;
    }


    li{
        margin-bottom: 20px;
    }
}

.contact-social{
    font-size: 50px;
    margin-left: 0px;
    justify-self: end;
    align-self: center;

    i{
        color: #ff5400;
    }

    i:first-child {
        margin-right:20px;
    }
}





@media all and (max-width: 1200px) {

    .contact-social i:first-child {
        display: block;
        margin-top: 15px;
    }


}