footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ff5400;
    background-image: linear-gradient(to bottom, #ff5400, #ff5900, #ff5d00, #ff6200, #ff6600);
    // background-image: linear-gradient(to bottom, #fd3700, #fd3c00, #fe4100, #fe4600, #fe4a00, #fe4f00, #fd5300, #fd5700, #fd5c00, #fc6100, #fc6600, #fb6b00);
    height: 80px;
    color: white;
    border-radius: 35px 0;
    align-self: center;
}

.footer-left{
    margin-left: 50px;
    align-self: center;
    font-size: 12px;
    font-weight: 300;
}

.footer-right{
    margin-right: 50px;
    justify-self: end;
    align-self: center;

    a{
        font-size: 30px;
        margin-left: 15px;
        color: white;
        cursor: pointer;
    }

    

   
}

.social i:hover{
  
        transform: scale(1.08);
 
}


@media all and (max-width: 1200px) {


    
    .footer-left {
    margin-left: 30px;
    }

    .footer-right {
        margin-right: 30px;

        a{
            font-size: 25px;
            margin-left: 10px;
        }
     
    }
    

}