footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ff6600;
    height: 80px;
    color: white;
    border-radius: 35px 0;
    align-self: center;
}

.footer-left{
    margin-left: 50px;
    align-self: center;
}

.footer-right{
    margin-right: 50px;
    justify-self: end;
    align-self: center;

    a{
        font-size: 30px;
        margin-left: 15px;
        color: white;
    }

    

   
}

.social i:hover{
  
        transform: scale(1.08);
 
}


@media all and (max-width: 1200px) {


    
    .footer-left {
    margin-left: 30px;
 
    font-size: 12px;
    }

    .footer-right {
        margin-right: 30px;

        a{
            font-size: 25px;
            margin-left: 10px;
        }
     
    }
    

}