form{
    margin: 50px auto;
}

label{
    font-weight: 700;
    padding-bottom: 20px;
}

input, textarea {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #e6e6e6;
    background: #fff;
    padding: 1em;
    transition: all 0.3s ease-in-out;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}

textarea {
    height: 150px;
    margin-bottom: 20px;
}

button{
    background: #000;
    border: 0;
    height: 55px;
    width: 150px;
    border-radius: 0 35px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

button:hover{
    transition: all .2s ease-out;
    border-radius: 35px 0 ;
    cursor: pointer;
}