body{
    font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	color: #3c3c3c;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 20px;
}

h6{
    font-size: 16px;
}

.content-container{
    width: 60%;
    margin: 0 auto;
}

.container {
	width: 60%;
	margin: 0 auto;
}

  .loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgb(252, 44, 130);
    z-index: 9999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid #fff;
    border-bottom:12px solid  rgb(252, 44, 130);
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


// .wrapper {
// 	height: 50px;
// 	margin-top: calc(50vh - 25px);
// 	margin-left: calc(50vw - 100px);
// 	width: 180px;
// }


@media all and (max-width: 600px) {
	.container {
		width: 80%;
    }
    
    .content-container {
		width: 80%;
	}


}
