body{
    font-family: 'Poppins', sans-serif;
    transition:all .5s ease-in-out;
}

a {
	text-decoration: none;
}



* {
    transition: all .5s ease-out;
  }
  
  *:hover {
    transition: all .5s ease-out;
  }
  

a:hover {
    color: #3c3c3c;
    transition: all .5s ease-out;
    transform: scale(1.08);
}

h1{
    font-size: 80px;
    font-weight: 800;
}

h2{
    font-size: 32px;
    font-weight: 700;
}

h3{
    font-size: 28px;
    font-weight: 500;
}

h4{
    font-size: 24px;
    font-weight: 500;
}

h5{
    font-size: 18.5px;
    font-weight: 500;
    line-height: 1.5em;
}

h6{
    font-size: 16px;
    font-weight: 500;
}

p{
    font-size: 13.5px; 
    line-height: 1.5em;
}

span{
    font-weight: 700;
    margin-right: 20px;
}

.content-container{
    width: 1100px;
    margin: 80px auto;
    border-radius: 35px 0;
    background: #f8f8f8;
    // border: 1px solid #dbdbdb;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
}

.hide{
    display: none;
}


.container {
	width: 90%;
    margin: 0 auto;
    
    h2 {
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 50px;
    }
}





@media all and (max-width: 1200px) {

    body{
        transition:all .5s ease-in-out;
    }
    
    .content-container {
        width: 90%;
        max-width: 500px;
        transition:all .5s ease-in-out;
    }
    
  
}