header{
    display: grid;
    grid-template-columns: 225px 1fr ;
    margin-bottom: 70px;
}

.header-logo{
    
    // background: #26364e;
    background: #ff6600;
    height: 450px;
    // width: 225px;
    border-radius: 35px 0;
    padding: 20px;
    text-align: center;
}


.header-panel{
    display: grid;
    grid-template-rows: 55px 1fr;
   
}



.header-menu{
    // display: grid;
    // grid-template-columns: 70% 30%;
    height: 100%;
    background: #000000;
    border-radius: 0 0 0 35px;
    width: 300px;
    justify-self: end;
}

.header-menu-links{
    margin-top: 18px;
    text-align: center;
    
        a{
        text-transform: uppercase;
        font-size: 15px;
        color: white;
        }
    
        a:first-child{
        border-right: 1px solid #6c6c6c;	
        padding: 6px 34px;
        }

        a:last-child{
         padding: 6px 27px;
        }
}


.header-content-inner{
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;

    h2{
        margin-bottom: 20px;
    }

    h5{
        margin-bottom: 20px;
    }

    a{
        color: #ff6600;
        font-size: 50px;
        margin-right: 20px;
    }
}

.header-logo{
    color: white;

    h1{
        margin-top: 153px;
    }
}


@media all and (max-width: 1200px) {

    
    
    
    header {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 70px;
	}
	
	.header-logo {
		height: 235px;
		border-radius: 35px 0 0 0;

		h1{
			margin-top: 50px;
		}
	}


	.header-menu {
		border-radius: 0 0 35px 0;
	}

	.header-content-inner {
		width: 80%;
		margin-top: 50px;
		text-align: center;
		a{
			margin-right: 0;
			padding: 10px;
		}
	}

	.header-menu {
	
		width: 100%;
		
	}

}