header{
    display: grid;
    grid-template-columns: 225px 1fr ;
    margin-bottom: 70px;
}

.header-logo{
    background: #ff5400;
    // background-image: linear-gradient(to bottom, #ff5400, #ff5900, #ff5d00, #ff6200, #ff6600);
    background-image: linear-gradient(to bottom, #fd3700, #fd3c00, #fe4100, #fe4600, #fe4a00, #fe4f00, #fd5300, #fd5700, #fd5c00, #fc6100, #fc6600, #fb6b00);
    height: 450px;
    border-radius: 35px 0;
    padding: 20px;
    text-align: center;
}

.header-logo img{
    margin-top: 135px;
    margin-bottom: 5px;
    width: 110px;
}


.header-panel{
    display: grid;
    grid-template-rows: 55px 1fr;
}



.header-menu{
    height: 100%;
    background: #000000;
    border-radius: 0 0 0 35px;
    width: 300px;
    justify-self: end;
}


.header-menu-links{
    margin-top: 18px;
    text-align: center;
    
        a{
        text-transform: uppercase;
        font-size: 15px;
        color: white;
        }

        a:first-child{
        border-right: 1px solid #6c6c6c;	
        padding: 6px 34px;
        }

        a:last-child{
         padding: 6px 27px;
        }

}

.header-menu-links:hover{
    transition: all .5s ease-out;
    transform: scale(1.08);
}


.header-content-inner{
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;

    h2{
        margin-bottom: 20px;
    }

    h5{
        margin-bottom: 20px;
    }

    a{
        color: #ff6600;
        font-size: 50px;
        margin-right: 20px;
    }
}



.header-logo{
    color: white;
}


@media all and (max-width: 1200px) {

    
    
    
    header {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 70px;
	}
	
	.header-logo {
		height: 235px;
		border-radius: 35px 0 0 0;

        img{
            margin-top: 35px;
            margin-bottom: 5px;
        }
	}


	.header-menu {
		border-radius: 0 0 35px 0;
	}

	.header-content-inner {
		width: 80%;
		margin-top: 80px;
		text-align: center;
		a{
			margin-right: 0;
			padding: 10px;
		}
	}

	.header-menu {
	
		width: 100%;
		
	}

}