.header-sub{
    display: grid;
    grid-template-columns: 150px 1fr ;
    margin-bottom: 70px;
}

.header-logo-sub{
    
    background: #ff6600;
    height: 150px;
    border-radius: 35px 0;
    padding: 20px;
    text-align: center;
    color: white;

    img{
        margin-top: 7px;
        margin-bottom: 5px;
        width: 80px;
    }

    p{
        font-size: 10px;
    }
}




@media all and (max-width: 1200px) {

    
    
    
    .header-sub {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 70px;
	}
	
	.header-logo-sub {
		height: 235px;
        border-radius: 35px 0 0 0;
        
        img{
            margin-top: 35px;
            margin-bottom: 5px;
            width: 110px;
        }

		h1{
			margin-top: 50px;
		}
	}

}