.loader {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    background: #fff;
    z-index: 9999;

    img{
        width: 180px;
        position: absolute;
        top: calc(50% - 90px);
        left: calc(50% - 90px);
    }
}