.panels-container{
	width: 92.5%;
    margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	grid-gap: 2rem;
	margin-bottom: 70px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.panel{
	background: #ffffff;
	width: 100%;
	min-width: 300px;
	height: 640px;
	border-radius: 35px 0;
	// max-width: 500px;
	margin: 0 auto;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
	position: relative;
	margin-top: 70px;
    overflow: hidden;

}

.panel:last-child{
	margin-bottom: 70px;
}



.panel-image{
    height: 215px;
    
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
        border-radius: 35px 0;
        transition: 0.4s ease;
    }
    
    img:hover{
        transform: scale(1.08);
	}
}

.panel-content{
	padding: 25px;

	h5{
		margin-bottom: 10px;
		font-weight: 700; 
	}
	
	h6{
		margin-bottom: 25px;
		font-size: 13px;
		font-weight: 600; 
	}

	P{
		font-size: 12.5px;
	}

	
	
}

.panel-bottom{
	position: absolute;
	bottom: 0;
	background: #000000;
	width: 100%;
	height: 65px;
	border-radius: 35px 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-content: center;
	text-align: center;
	color: white;

	a{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	color: white;
	padding: 15px;
	}

	a:first-child{
	border-right: 1px solid #6c6c6c;	
	}
}


.panel-bottom-single{
	grid-template-columns: 1fr;

	a:first-child{
	border-right: none;	
	}
}



@media all and (max-width: 1200px) {

    

	.panel {
	
		min-width: 250px;
	
	}


}