.panels-container{
	width: 82.5%;
    margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 5rem;
	margin-bottom: 70px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.panel{
	background: #ffffff;
	width: 100%;
	min-width: 300px;
	height: 640px;
	border-radius: 35px 0;
	margin: 0 auto;
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);
	position: relative;
	margin-top: 75px;
    overflow: hidden;

}

.panel:last-child{
	margin-bottom: 70px;
}



.panel-image{
    height: 275px;
    
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
        border-radius: 35px 0;
        transition: 0.4s ease;
    }
    
    img:hover{
        transform: scale(1.08);
	}
}

.panel-content{
	padding: 25px;

	h5{
		margin-bottom: 10px;
		font-weight: 700; 
	}
	
	h6{
		margin-bottom: 25px;
		font-size: 13px;
		font-weight: 600; 
		word-spacing: 4px;
	}

	P{
		font-size: 12.5px;
	}

	
	
}

.panel-bottom{
	position: absolute;
	bottom: 0;
	background: #000000;
	width: 100%;
	height: 65px;
	border-radius: 35px 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-content: center;
	text-align: center;
	color: white;

	a{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14.5px;
	color: white;
	padding: 15px;
	}

	a:first-child{
	border-right: 1px solid #6c6c6c;	
	}
}


.panel-bottom-single{
	grid-template-columns: 1fr;

	a:first-child{
	border-right: none;	
	}
}


@media all and (max-width: 1200px) {

	.panels-container{
		width: 90.5%;
		grid-template-columns: 1fr;
		grid-gap: 5rem;
	}

	
	.panel {
		min-width: 250px;
		margin-top: 0;
	}

	
	.panel:first-child{
		margin-top: 75px;
	}


}



@media all and (max-width: 500px) {

	.panel-image {
		height: 190px;
	}

}




